/* Chrome, Safari, Edge, Opera */
input.hidden-arrow::-webkit-outer-spin-button,
input.hidden-arrow::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input.hidden-arrow[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-calendar-picker-indicator {
    display: none;
    opacity: 0;
}

table.table-sticky-header {
    border-collapse:separate !important;
    border-spacing:0 !important;
    border-top: none !important;
}

table.table-sticky-header thead {
    position: sticky;
    top: 0;
    background-color: inherit;
}